VITE_HTML_PAGE_URLS={"clickstream":{"url":"Кликстрим_Месячный_все_воронки.html","title":"Воронка оформления в СБОЛ","icon":"Smartphone"},"pilots":{"url":"pilots_07-08-2026.html","title":"Пилотные кампании","icon":"PaperPlane"},"funnel":{"url":"Воронка_SberPAY_2026-07-31.html","title":"Воронка кампейнинга","icon":"Funnel"},"complaints":{"url":"Жалобы_все_продукты.html","title":"Жалобы","icon":"FaceSad"},"drafts":{"url":"Черновики_все_продукты.html","title":"Черновики","icon":"FileText"},"client_metrics":{"url":"Клиентские_метрики_все_продукты.html","title":"MAU","icon":"ChartAreaStackedNormalized"},"csi":{"url":"CSI_все_продукты.html","title":"CSI","icon":"Heart"}}
